# Stage 09 — Homework Starter Notebook

In the lecture, we learned how to create engineered features. Now it’s your turn to apply those ideas to your own project data.

In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv('my_data.csv')

df.head()

         date       close        open        high         low    volume
0  2024-08-19  224.843582  224.674371  224.943125  222.006778  40687800
1  2024-08-20  225.460693  224.724131  226.117640  224.405606  30299000
2  2024-08-21  225.351212  225.470666  226.923894  224.007474  34765500
3  2024-08-22  223.489868  226.734761  227.282216  222.862782  43695300
4  2024-08-23  225.789154  224.614628  227.162766  223.290787  38677300

## TODO: Implement at least 2 engineered features here

In [7]:
from sklearn.preprocessing import MinMaxScaler

#Feature 1: Daily price change
df['price_change_pct'] =  (df['high'] - df['low']) / df['open'] * 100

#Feature 2: 
df['volume_weighted_momentum'] = df['price_change_pct'] * np.log1p(df['volume'])

df.head()

,date,close,open,high,low,volume,price_change_pct,volume_weighted_momentum
0,2024-08-19,224.843582,224.674371,224.943125,222.006778,40687800,1.306934,22.899370
1,2024-08-20,225.460693,224.724131,226.117640,224.405606,30299000,0.761838,13.123894
2,2024-08-21,225.351212,225.470666,226.923894,224.007474,34765500,1.293481,22.460176
3,2024-08-22,223.489868,226.734761,227.282216,222.862782,43695300,1.949165,34.291172
4,2024-08-23,225.789154,224.614628,227.162766,223.290787,38677300,1.723832,30.116661

### Rationale for Feature 1
Explain why this feature may help a model. Reference your EDA.

In [ ]:
"""
It describes the percentage change within a day, and shows how volatile it is during that day. Such could possibly be a useful feature in determining
whether it is a good time to invest and later become part of the machine learning indicators.
"""

### Rationale for Feature 2
Explain why this feature may help a model. Reference your EDA.

In [ ]:
"""
It is basically a technical indicator that combines price movement strength, which is momentum, with trading volume 
to measure the conviction behind a price trend. It helps distinguish between high-confidence trends (supported by volume) 
and weak/noisy movements (low volume). It also could be a feature/indicator for predictive models.
"""